<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div>
            {%- include Nav.html -%}
            
            {%- if page.content-type == "static" -%}
                <h1>{{page.title}}</h1>                        
                {%- include Content.html -%}
            {%- endif -%}          
            {%- include Footer.html -%}
        </div>
    </div>

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('/service-worker.js')
        .then(function (registration) {
          console.log('ServiceWorker зарегистрирован: ', registration.scope);
        }, function (err) {
          console.log('Ошибка при регистрации ServiceWorker:', err);
        });
    });
  }
</script>
    
</body>
</html> 
