<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div>
            {%- include Nav.html -%}
            
            <!-- Homepage Layout-->
            {%- if page.permalink == "/" -%}
                {%- if site.preferences.homepage.enabled -%}
                    <!--- Show content from index.md when homepage is enabled -->
                    {%- include Content.html -%}
                {%- else -%}
                    <!--- Show content from notes.md + search + feed when homepage is disabled -->
                    <h1>{{page.title}}</h1>
                    {%- include Content.html -%}
                    {%- include Feed.html -%}
                {%- endif -%}
            {%- endif -%}

            <!--- Notes Feed Layout-->
            {%- if page.permalink == "/notes" -%}
                <h1>{{page.title}}</h1>
                {%- include Content.html -%}
                {%- include Feed.html -%}
            {%- endif -%}

            <!--- Notes Layout-->
            {%- if page.content-type == "notes" -%}
                <h1>{{page.title}}</h1>
                {%- include Content.html -%}
                {%- if site.preferences.backlinks.enabled -%}
                {%- include Backlinks.html -%}
                {%- endif -%}
            {%- endif -%}

             <!--- Post Layout-->
             {%- if page.content-type == "post"  -%}
                 <h1>{{page.title}}</h1>
                 <p class="post-date">
                 {{ page.date | date: "%Y-%m-%d" | default: site.time | date: "%Y-%m-%d" }}
                 </p>   
                 {%- include Content.html -%}
                 {%- if site.preferences.backlinks.enabled -%}
                 {%- include Backlinks.html -%}
                 {%- endif -%}
             {%- endif -%}

            <!--- Static Page Layout-->
            {%- if page.content-type == "static" -%}
                <h1>{{page.title}}</h1>                        
                {%- include Content.html -%}
            {%- endif -%}
            
            <!--- Blog Feed Layout-->
            {%- if page.permalink == "/blog" -%}
                <div class="related-wrapper">
                {% assign post_items = site.posts | sort: "date" | reverse %}
                {% for post_items in post_items %}
                    {%- if post_items.feed == "show" -%}
                            <div class="notelist-feed">
                                <a href="{{ site.baseurl }}{{post_items.url}}">
                                    <p>{{ post_items.title }}</p>
                                </a>
                            </div>
                    {%- endif -%}
                {%- endfor -%}
                </div>
            {%- endif -%}

            {%- include Footer.html -%}
        </div>
    </div>
</body>
</html> 
